* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #333;
  color: #eee;
}

.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #444;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 700;
}

.display {
  width: 100%;
  height: 50px;
  font-size: 24px;
  text-align: right;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.buttons button {
  padding: 20px;
  font-size: 24px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  margin: 5px;
  background-color: #666;
  color: #eee;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buttons button:hover {
  background-color: #888;
}

.buttons button:nth-child(4n),
.buttons button:last-child {
  background-color: #ff9500;
  color: #fff;
}

.buttons button:nth-child(4n):hover,
.buttons button:last-child:hover {
  background-color: #ffa733;
}

.--grow {
  grid-column: span 2;
}
