* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

.title {
  text-align: center;
  margin: 20px 0;
  font-size: 2.5em;
  color: #ff4500;
}

.turn {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.grid {
  background-color: rgb(0, 102, 255);
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  border-radius: 50px;
  gap: 10px;
  height: 700px;
  width: 700px;
}

.cell {
  cursor: pointer;
  background-color: #666;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

.filled.-red {
  background-color: red !important;
  box-shadow: inset 0 0 10px darkred;
}
.filled.-yellow {
  background-color: yellow !important;
  box-shadow: inset 0 0 10px goldenrod;
}
