* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #19172e;
  color: #dddcdc;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
}

.container {
  margin-top: 8rem;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.snake-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2979ff;
  border-radius: 11px;
  margin-top: 24px;
  width: 400px;
  height: 400px;
}

.container-grid {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  gap: 1px;
  background-color: #260e44;
  border-radius: 11px;
  width: 380px;
  height: 380px;
}

.snake-head {
  width: 100%;
  height: 100%;
  background-color: #00e676;
  border-radius: 50%;
  z-index: 1;
}

.snake-body {
  width: 100%;
  height: 100%;
  background-color: #2979ff;
}

.food {
  width: 100%;
  height: 100%;
  background-color: #ff1744;
  border-radius: 50%;
}
