* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#countdown {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

#countdown ul {
  list-style: none;
  text-align: center;
}

#countdown ul li {
  font-size: 2em;
  font-weight: bold;
}
#countdown ul li span {
  display: block;
  font-size: 0.5em;
  font-weight: normal;
  margin-top: 5px;
}

.time {
  font-size: 6em;
  font-weight: bold;
}

input[type='date'] {
  text-align: center;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

#btn {
  display: block;
  width: 100%;
  padding: 10px;
  background: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  margin-top: 20px;
}
