@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(
    135deg,
    #7b4bff,
    #9a6cff,
    #b28eff,
    #c9b0ff,
    #e0d2ff
  );
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  padding: 20px;
  height: 100vh;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.form form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 9px;
  background-color: #eee;
  padding: 30px 40px;
}

.form form h1 {
  margin-bottom: 20px;
  font-size: 28px;
  color: #333;
}

.form form input {
  width: 300px;
  padding: 12px 15px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form form input:focus {
  outline: none;
  border-color: #7b4bff;
  box-shadow: 0 0 5px rgba(123, 75, 255, 0.5);
}

.form form button {
  width: 100%;
  padding: 12px 15px;
  margin-top: 15px;
  font-size: 16px;
  font-weight: bold;
  border: 0.8px solid #7b4bff;
  border-radius: 5px;
  transition: all 0.3s ease;
  margin-bottom: 12px;
}

.form form button:hover {
  background-color: #7b4bff;
  color: white;
  cursor: pointer;
  border: 0.8px solid #000;
}

.message {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #555;
  cursor: pointer;
}

.message a:link,
a:visited {
  color: #7b4bff;
  text-decoration: none;
  font-weight: bold;
}
.message a:hover {
  text-decoration: underline;
}
