* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.--align-center-placeholder::placeholder {
  text-align: center;
}

.container {
  margin-top: 0 auto;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.6);
  padding: 32px;
  border-radius: 9px;
}

.container-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

.form-title {
  font-size: 48px;
}

.height-input-container,
.weight-input-container {
  font-size: 18px;
  font-weight: 500;
}

.form-input-title {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
}

.form-input {
  padding: 0.5rem;
  border-radius: 9px;
  border: 1px solid #ccc;
}

.form-button {
  padding: 0.5rem;
  border-radius: 9px;
  border: 1px solid #ccc;
  background-color: #0b5ed7;
  color: #ccc;
  transition: 0.3;

  font-size: 24px;
  font-weight: 500;
}

.form-button:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background-color: #0b5ed7;
}

#bmi-input {
  font-size: 18px;
  font-weight: 600;
}
