* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: #666;
  font-family: Arial, sans-serif;
  overflow: hidden;
  color: #eee;
}

h1 {
  margin: 80px;
  font-size: 60px;
  text-align: center;
}
.container {
  text-align: center;
}

.traffic-light {
  width: 200px;
  height: auto;
  background-color: #333;
  border-radius: 50px;
  padding: 20px;
  margin: 0 auto;
}

.light {
  width: 150px;
  height: 150px;
  background-color: #111;
  border-radius: 50%;
  margin: 15px auto;
  box-shadow: inset 0 0 20px #000;
  transition: background-color 0.5s, box-shadow 0.1s;
}

.red.active {
  background-color: red;
  box-shadow: 0 0 20px red;
}
.yellow.active {
  background-color: yellow;
  box-shadow: 0 0 20px yellow;
}
.green.active {
  background-color: green;
  box-shadow: 0 0 20px green;
}
