* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  border-radius: 9px;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.4);
  margin: auto;
  padding: 2rem;
  width: 25%;

  color: #333;

  transition: 0.3s;
}

.container:hover {
  box-shadow: 0 0 28px rgba(0, 0, 0, 0.5);
}

.container-title {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -0.75;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  gap: 24px;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;

  margin-bottom: 24px;
}

.btn {
  width: 48px;
  height: 48px;
  cursor: pointer;
  transition: 0.3s;
}

.btn.rock {
  background-color: #d00000;
}
.btn.paper {
  background-color: #0096c7;
}
.btn.scissors {
  background-color: #40916c;
}

.btn.rock:hover {
  background-color: rgb(208, 0, 0, 0.6);
}
.btn.paper:hover {
  background-color: rgb(0, 150, 199, 0.6);
}
.btn.scissors:hover {
  background-color: rgb(64, 145, 108, 0.6);
}

.btn-icon {
  width: 32px;
  height: 32px;
}

.bot-actions {
  font-size: 18px;
  margin-bottom: 24px;
}

.score p {
  font-size: 24px;
  font-weight: 600;
}

.score.you {
  color: #0096c7;
}
.score.computer {
  color: #d00000;
}
