:root {
  --pipe-gap: 250px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: greenyellow;
  color: #333;
  height: 100vh;
  overflow: hidden;
}

.game-area {
  height: 80%;
  width: 1000px;
  margin: 20px auto;
  background-color: #ffffff;
  border: 2px solid #000000;
  position: relative;

  overflow: hidden;
}

.title {
  text-align: center;
  font-size: 36px;
  margin: 20px 0;
}

.startBtnText {
  text-align: center;
  font-size: 24px;
  margin-top: 10px;
}

.score-txt {
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  font-size: 24px;
}

.score {
  display: inline-block;
  font-weight: bold;
  color: #ff0000;
  margin-left: 10px;
}

.bird {
  width: 45px;
  height: 45px;
  background-color: red;
  border: 3px solid #111;
  position: absolute;
  top: 300px;
  left: 100px;
  border-radius: 50%;
}

.pipe {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 80px;
  height: 100%;
  background-color: transparent;
  overflow: hidden;
  animation: movePipes 4s linear infinite;
}

.pipe.--0 {
  left: 1000px;
  animation-delay: 0s;
}

.pipe-top {
  width: 80px;
  height: calc(50% - var(--pipe-gap) / 2);
  background-color: blue;
  border-bottom: none;
}

.pipe-bottom {
  width: 80px;
  height: calc(50% - var(--pipe-gap) / 2);
  background-color: blue;
  border-top: none;
  margin-top: var(--pipe-gap);
}

.hidden {
  display: none;
}
