* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(56, 142, 240);
  color: #333;
  line-height: 1.6;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: auto;
  margin-top: 120px;
  background: #eee;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.3s ease-in-out;
}

.container:hover {
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.3);
}

h1 {
  text-align: center;
  margin-bottom: 15px;
  color: #444;
}

.emoji-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  align-items: center;
  justify-content: center;

  background-color: #ddd;
  padding: 15px;
  border-radius: 5px;
  width: 100%;

  max-height: 400px;
  overflow-y: auto;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.emoji {
  font-size: 40px;
  transition: transform 0.2s;
}

.emoji:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.emoji-name {
  text-align: center;
  font-weight: bold;
  margin-top: 5px;
  font-size: 18px;
  color: #666;
}

#new-emoji-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 15px;
}
