* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  display: grid;
  grid-template-columns: 10fr 50fr;
  justify-content: center;
  overflow: hidden;
}

.hidden {
  display: none;
  opacity: 0;
}

.section-sidebar {
  height: 100vh;
  overflow: scroll;
  padding-top: 12px;
}

.section-sidebar h1 {
  font-size: 28px;
  letter-spacing: -0.75;
}

.buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 12px;
}
.buttons button {
  text-align: start;
  padding: 5px;
  border: none;
  background-color: #fff;
}

.buttons button:hover {
  background-color: #eee;
}

.sidebar-title {
  margin-top: 24px;
  margin-bottom: 24px;

  font-size: 18px;
  font-weight: 700;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.list-item a:link,
.list-item a:visited {
  display: block;

  text-decoration: none;
  color: #333;
  padding: 12px 0;
  transition: 0.3s;
}

.list-item a:hover,
.list-item a:active {
  display: block;

  background-color: #eee;
  padding: 12px 0;
  text-decoration: none;
  color: #000;
}

/*  */

.section-chat {
  margin: auto;
  width: auto;
  max-width: 1200px;
}

.chat-title {
  margin-bottom: 10px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.section-chat .form:hover {
  border: 9px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  padding: 0 10px;
}

.input-ask-anything {
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 9px;
}

.input-ask-anything:focus {
  outline: none;
}

.form button {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: none;
}

/*  */

.--chat-section {
  overflow: scroll;
}

.section-active-chatting {
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 0.5rem;
}

.section-active-chatting .messages {
  flex: 1 1 auto;
  overflow-y: auto;
  padding: 1rem;
}

.section-active-chatting .form {
  position: sticky;
  bottom: 0;
  background: #bbb;
  padding: 0.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.msg {
  padding: 12px;
  border-radius: 9px;
  font-weight: 600;
}

.msg-user {
  justify-self: flex-start;
  background-color: blue;
  color: #fff;
}

.msg-ai {
  justify-self: flex-end;
  background-color: red;
  color: #fff;
}
