* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.6;
}

.game-title {
  text-align: center;
  margin: 20px 0;
  font-size: 2em;
}
.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.letter-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}
.letter {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ca0b0b;
  border-radius: 4px;
  font-size: 1.5em;
  user-select: none;
}
.available {
  cursor: pointer;
  border: 2px solid #333;
  background-color: #e0e0e0;
}
.input-section {
  margin-top: 20px;
  text-align: center;
}
.word-input {
  padding: 10px;
  font-size: 1em;
  width: 60%;
  border: 2px solid #333;
  border-radius: 4px;
}
.submit-button {
  padding: 10px 20px;
  font-size: 1em;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

.correctGuessed {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 20px;
  font-size: 1.2em;
}

.guessed-letter {
  color: #fff;
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: #28a745;
  border-color: #28a745;
}

.reset-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 4px;
  background-color: #ca0b0b;
  color: #fff;
  cursor: pointer;
}
